APP_NAME=ragops-document-intelligence
APP_ENV=local
SERVICE_NAME=ragops-api

LOG_LEVEL=INFO
LOG_DIR=/app/logs

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=ragops_db
POSTGRES_USER=ragops_user
POSTGRES_PASSWORD=ragops_password

REDIS_HOST=redis
REDIS_PORT=6379

QDRANT_HOST=qdrant
QDRANT_PORT=6333